$white: white;
$lightblack: #444;
$orange: #FA4B2A;
$violet_blue:#292484;
$light_red:#DC4225;
$dark_green:#002F4B;
$light_green:#417711;
$dark_yellow:#D38312;
$light_yellow:#E0BE00;
$pink:#A83279;
$grey:#444;
$font_family_AGS: Adelle, Georgia, Serif;
$font_family_HAS: Halvetica, Arial, sanserif;
/*font-family: 'Open Sans Condensed', sans-serif;*/