/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/reset";
@font-face{
	font-family: 'Helvetica, arial, sanserif';
	src: local('Helvetica, arial, sanserif'), local('Helvetica, arial, sanserif');
	font-style: normal;
	font-weight: normal;
	src:url(./fonts/Helvetica/helvetica-neue1.ttf) format('truetype');	
}
$white: white;
$lightblack: #444;
$orange: #FA4B2A;
$violet_blue:#292484;
$light_red:#DC4225;
$dark_green:#002F4B;
$light_green:#417711;
$dark_yellow:#D38312;
$light_yellow:#E0BE00;
$pink:#A83279;
$grey:#444;
$font_family_AGS: Adelle, Georgia, Serif;
$font_family_HAS: Halvetica, Arial, sanserif;
.container{
     
}
.header{
     background-color:$orange;
     height:60px;
     width:100%;
     box-shadow: 1px 0px 0px 1px;
}
#hamburger{
     height:100%;
     width:9%;;
     padding: 3px 4px;
     float: left;
     display: block;
     cursor: pointer;
     /*margin-top:10px;*/

}
#hamburger div{
     background-color:$white;
     border-radius:2px;
     height:5px;
     margin-top:5px;
     width:25px;
}
.header_logo{
     height:75%;
     width:184px;
    /* margin-top: 4px;*/
     margin-left:auto;
     margin-right:auto;
     display: block;
     cursor: pointer;
     float: left;
     
}
.header_logo img{
     height:100%;
    /* width:100%;*/
     /*margin-top: -22%;*/
}
#header_right{

     height:50px;
     width:80px;
     /*float:right;
     display: inline-block;*/
     position:absolute;
     top: 0;
     right: 0;
     border-left: 1px solid white;
     cursor: pointer;
}
.main_head_news{
    display: inline-block;
    display: none;
}
.down_arrow{
    display: none;
    display: inline-block;
}

.line{
	display:inline-block;
	border: 1px solid white;
	height:100%;
	margin-left:7%;

}

.strong1{
     font-size:2em;
     display:block;
     line-height:1.15;
     color:white;
     text-align:center;
     font-familt:$font_family_HAS;
}
.strong2{
    font-size:0.65em;
    text-align:center;
    color:white;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    float:right;
    font-familt:$font_family_HAS;
    text-transform: uppercase;
}
.img1{
    height:220px;
    width:100%; 
/*background-color:$violet_blue;*/
    /*background-image:url("https://cdn2.vox-cdn.com/thumbor/G7SPrZTzxFcFoKXxnLcYFNE8ho0=/0x180:3000x1868/680x384/cdn0.vox-cdn.com/uploads/chorus_image/image/48666971/20151010CASF_Water02145_1.0.0.jpg");
   */
    background-image:url("../images/img1.jpg");
    position:relative;
    
    background-position: center;
    background-size:cover;

&:after{
    content: '';
    position:absolute;
    background-color:$violet_blue;
    background-image:linear-gradient(135deg, $violet_blue, $light_red);
    opacity:0.7;
   
    left:0;
    right: 0;
    bottom:0;
    top:0;
}
}


.img2{
    height:220px;
    width:100%;
    position:relative;

    /*background-image:url("https://cdn0.vox-cdn.com/thumbor/aFhxzCOj3umiRbxPbcRl382gdvQ=/0x254:3000x1942/340x192/cdn0.vox-cdn.com/uploads/chorus_image/image/48644277/GettyImages-505882626.0.jpg");
    */
    background-image:url("../images/img2.jpg");
    background-position:center;
    background-size:cover;

&:after{
	content:'';
    opacity:0.7;
    position:absolute;
    background-color:$dark_green;
    background-image:linear-gradient(135deg,$dark_green,$light_green);
    left: 0;
    bottom:0;
    right: 0;
    top: 0;
}
}
.img3{
    width:100%;
    height: 220px;
    position: relative;
    /*background-image:url("https://cdn3.vox-cdn.com/thumbor/gkhkL8-wwAxExPEdq6bVFBEhf8s=/0x53:1020x627/340x192/cdn0.vox-cdn.com/uploads/chorus_image/image/48650871/IMG_5826.0.jpg");
    */
    background-image:url("../images/img3.jpg");
    background-position:center;
    background-size:cover;

    &:after{
    	content: '';
    	position:absolute;
    	left: 0;
    	right: 0;
    	bottom:0;
    	top: 0;
    	 background-color:$violet_blue;
        background-image:linear-gradient(135deg,$violet_blue,$pink);
        opacity: 0.7;
    }
}
.img4{
    width:75%;
    height: 220px;
    position: relative;
    /*background-image:url("https://cdn2.vox-cdn.com/thumbor/DAE7plskNyZissyOPNvk0-Ijlcg=/213x0:1063x850/350x350/cdn0.vox-cdn.com/uploads/chorus_image/image/48692457/airmail.0.0.jpg");
    */
    background-image:url("../images/img4.jpg");
    background-position:center;
    /*background-size:cover;*/
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    background-size:cover;



    &:after{
    	content: '';
    	position:absolute;
    	left: 0;
    	right: 0;
    	bottom:0;
    	top: 0;
    	 background-color:$dark_yellow;
        background-image:linear-gradient(135deg,$dark_yellow,$dark_green);
        opacity: 0.7;
    }
}

.img5{
    width:75%;
    height: 220px;
    position: relative;
    background-image:url("https://cdn0.vox-cdn.com/thumbor/ZER7DKNwaQ41K5uqWVHrb6Ven6U=/0x184:3696x2263/376x212/cdn0.vox-cdn.com/uploads/chorus_image/image/48678951/GettyImages-486026810.0.jpg");
   
    background-position:center;
    /*background-size:cover;*/
    background-repeat: no-repeat;
    display: inline-block;
    background-size:cover;




    &:after{
        content: '';
        position:absolute;
        left: 0;
        right: 0;
        bottom:0;
        top: 0;
         background-color:$dark_green;
        background-image:linear-gradient(135deg,$dark_green,$light_green);
        opacity: 0.7;
    }
}

.img6{
    width:75%;
    height: 220px;
    position: relative;
    /*background-image:url("https://cdn2.vox-cdn.com/thumbor/pVKDBuU5Ut6Eu60ze90bWw0xueY=/0x185:1682x746/800x267/cdn0.vox-cdn.com/uploads/chorus_image/image/48682063/armageddon_promotional_still.0.0.jpg");
    */background-image:url("../images/img6.jpg");
    background-position:center;
    /*background-size:cover;*/
    background-repeat: no-repeat;
    display: inline-block;
    background-size:cover;




    &:after{
        content: '';
        position:absolute;
        left: 0;
        right: 0;
        bottom:0;
        top: 0;
         background-color:$dark_yellow;
        background-image:linear-gradient(135deg,$dark_yellow,$light_green);
        opacity: 0.7;
    }
}

.img7{
    width:75%;
    height: 220px;
    position: relative;
    /*background-image:url("https://cdn0.vox-cdn.com/thumbor/5KoYwb3DZFiSCItSVgnzYhGgfv4=/0x341:2039x1021/800x267/cdn0.vox-cdn.com/uploads/chorus_image/image/48689365/spotify-logo-stock1_2040.0.jpg");
    */
    background-image:url("../images/img7.jpg");
    background-position:center;
    /*background-size:cover;*/
    background-repeat: no-repeat;
    display: inline-block;
    background-size:cover;




    &:after{
        content: '';
        position:absolute;
        left: 0;
        right: 0;
        bottom:0;
        top: 0;
         background-color:$dark_green;
        background-image:linear-gradient(135deg,$dark_green,$light_green);
        opacity: 0.7;
    }
}
.img8{
    width:75%;
    height: 220px;
    position: relative;
    /*background-image:url("https://cdn1.vox-cdn.com/thumbor/AT3Vdu0byh94uD4O0FG6ymKw0PE=/0x157:3000x1845/376x212/cdn0.vox-cdn.com/uploads/chorus_image/image/48669739/arcimoto-srk-gen-8-8971.0.0.jpg");
   */
    background-image:url("../images/img8.jpg");
    background-position:center;
    /*background-size:cover;*/
    background-repeat: no-repeat;
    display: inline-block;
    background-size:cover;




    &:after{
        content: '';
        position:absolute;
        left: 0;
        right: 0;
        bottom:0;
        top: 0;
         background-color:$light_red;
        background-image:linear-gradient(135deg,$light_red,$violet_blue);
        opacity: 0.7;
    }
}
.img9{
    width:75%;
    height: 220px;
    position: relative;
    /*background-image:url("https://cdn2.vox-cdn.com/thumbor/WZ9A06c4VmGP-uDJqsj2T41viig=/0x0:3000x1688/376x212/cdn0.vox-cdn.com/uploads/chorus_image/image/48652373/StarryStation-Print-05.0.0.jpg");
    */
    background-image:url("../images/img9.jpg");
    background-position:center;
    /*background-size:cover;*/
    background-repeat: no-repeat;
    display: inline-block;
    background-size:cover;




    &:after{
        content: '';
        position:absolute;
        left: 0;
        right: 0;
        bottom:0;
        top: 0;
         background-color:$dark_green;
        background-image:linear-gradient(135deg,$dark_green,$light_green);
        opacity: 0.7;
    }
}


.person_icon{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 1px;
}


#drawer{
	    position: absolute;
    top: 37px;
    padding-top: 50px;
    height: auto;
    width: 180px;
    background: none repeat scroll 0% 0% #2F2F2F;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 34px;
    transition: all 1s ease 0s;
    border-left: 2px solid $pink;
    left: -250px;
    z-index: 11;
}
#drawer ul{
	list-style: outside none none;
	padding: 0px;
	
}
#drawer li{
	margin: 0px;
	width: 175px;
	padding: 10px 0px;
}
#drawer li a {
	display: block;
	color: #FFF;
	text-decoration: none;
	text-align: left;
        font-size:10px;
}
 #drawer.drawer_left{
        transition: 1s;
        left:0px;
        }
 
        #drawer li a:hover {
            color:$orange;
        }
        #drawer { 
        	padding-top: 10px;
        	 }
             .li_footer{
                background-color:black;
             }
  #drawer2{
position:absolute;
height:auto;
width:75%;
right:-100%;
border-left:1px solid $orange;
overflow-x:hidden;
overflow-y:auto;
transition: all 1s ease 0s;
z-index:11;
color:black;
background-color:white;
}
#drawer2 ul{
	list-style: outside none none;
	padding-left: 10px;
	
}
#drawer2 li{
margin:0px;
width:100%;
padding: 0px;
}
#drawer2 li a{
display:block;
color:black;
text-decoration:none;
text-align:left;

}

#drawer2.drawer_right{
transition:1s;
right:0px;
}
#drawer2 li a:hover {
            color:$orange;
        }

.a1{
	text-decoration:none;
}
.img_head{
	position:relative;
	padding:0px;
	margin:0px;
	font-size:22px;
	z-index:10;
	color:white;
	line-height:1.2;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	padding-top:5%;
	margin-left:5%;
	margin-right:5%;
}

.img_para{
	position:relative;
	z-index:10;
	font-size:12px;
	color:white;
	margin:5px 0px 0px;
	margin-left:5%;
	margin-right:5%;
}
.img_head1{
    position:relative;
    z-index: 10;
    font-size: 20px;
    color: white;
    line-height: 1.2;
    padding: 0px;
    margin: 0px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    padding-top:5%;
    margin-left:5%;
    margin-right:5%;
    white-space: normal;
}
.img_para1{
    position:relative;
    z-index:10;
    font-size:12px;
    color:white;
    margin:5px 0px 0px;
    margin-left:5%;
    margin-right:5%;
    white-space: normal;
}
.comment_count{
	float:right;
	/*font-size:0.9em;*/
	font-size:10px;
	display:inline-block;
	text-align:center;
	min-width:25px;
	position:relative;
	line-height:0.7;
	/*padding: 0.4rem 0.2rem 0.2rem;*/
	padding: 5px 1px 5px;
	background-color:#4A8813;
    color: white;
	&:after{
		content: "";
		position:absolute;
	    right: 0px;
		top: 100%;
		display: block;
		height: 0px;
		width: 0px;
		border-style:solid;
		border-right: 7px solid transparent;
		border-width:7px 8px 0px 0px;
		border-color: black transparent transparent;
	
}
}
.description_list{
	padding:0px;
	margin:0px;

}

.recode{
	position:relative;
	height:35px;
	width:100%;
	padding-top:5px;
    padding-bottom:0px;
}
.recode_header{
	width:100%;
	height:35px;
}
.recode_header span{
	font-size:20px;
	text-transform: uppercase;
	display:inline-block;
	font-family: $font_family_HAS;
}
.recode_header div {
	display:inline-block;
	height:30px;
	width:90;

}
.recode_header div img{
	height:100%;
	width:100%;
}
.description{
	/*border-bottom: 1px solid rgb(221,221,221);*/
    border-bottom: 1px solid rgba(128, 128,128,0.34);
	position:relative;
	padding:3px;
}
.description_img{
	display: table-cell;
	padding-right: 3px;
	vertical-align:top;
    padding-top:10px;
    padding-left:10px;
    padding-bottom: 10px;
}
.description_img a {
	display:block;
}
.desc_img{
	height:75px;
	width:75px;
    box-shadow: inset 0 0 40px rgba(68,68,68,0.77);
}
#desc_img1{
    /*background-image:url("https://cdn1.vox-cdn.com/thumbor/uZA_ynYL44zXr3Z63fChGEqyY-0=/134x0:667x533/250x250/cdn0.vox-cdn.com/uploads/chorus_image/image/48706617/DSC04604.0.0.0.png");
    */
    background-image:url("../images/desc_img1.png");
    background-position:center;
    background-size:cover;
}
#desc_img2{
   /* background-image:url("https://cdn0.vox-cdn.com/thumbor/baBl0zmgEUy9eZ5S7zE3vPdP_JA=/112x0:1463x1351/250x250/cdn0.vox-cdn.com/uploads/chorus_image/image/48699775/google-search-results-news-verge-Nick_Statt-01_2.0.0.jpg");
    */
    background-image:url("../images/desc_img2.jpg");
    background-position:center;
    background-size:cover;
}
#desc_img3{
    /*background-image:url("https://cdn3.vox-cdn.com/thumbor/VYAcNors4fWd7gol7Jj_SZVNO0Q=/217x0:1075x858/250x250/cdn0.vox-cdn.com/uploads/chorus_image/image/48702005/Screen_Shot_2016-02-01_at_5.09.07_PM.0.0.png");
    */
    background-image:url("../images/desc_img3.png");
    background-position:center;
    background-size:cover;
}
#desc_img4{
       /* background-image:url("https://cdn2.vox-cdn.com/thumbor/AmHOQ0o5khOpdF0qhgZcGNlywEI=/0x0:2197x2197/250x250/cdn0.vox-cdn.com/uploads/chorus_image/image/48700933/GettyImages-487662326.0.jpg");
        */
        background-image:url("../images/desc_img4.jpg");
        background-position:center;
        background-size:cover;
}
#desc_img5{
    /*background-image:url("https://cdn0.vox-cdn.com/thumbor/dbC7UO0hERLuCUaE6yIoroCNCI4=/341x0:1701x1360/250x250/cdn0.vox-cdn.com/uploads/chorus_image/image/48700415/russell-02.0.jpg");
    */
    background-image:url("../images/desc_img5.jpg");
    background-position:center;
    background-size:cover;
}
.description_content{
	display:table-cell;
	color:$grey;
	vertical-align:top;
    padding-top:10px;
    padding-left:5px;
}
.description_content h3 {
	font-size:16px;
	margin:0px;
	line-height:1.2;
}
.author strong{
	font-size:10px;
	font-weight:bold;
}
.author em{
	border-left:1px solid black;
	font-size:10px;
    padding-left:5px;
}
.img_scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 220px;
    position:relative;
    width: 99%;
}
.see_all_news{
    border-bottom: 1px solid rgba(128, 128,128,0.34);
    position:relative;
    padding:50px;
}
.see_all_news a {
    color: $orange;
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
}
.see_all_news a:hover{
    text-decoration: underline;
}
.footer_image{
   
    /*position:absolute;*/
    display: block;
    overflow-x:hidden;

}
.back_to_top{
    
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    background-color:#555;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding:10px;
    /*display: block;
    position:absolute;
    background-color:#555;
    width: 100%;
    padding:20px;*/
}
/*.back_to_top a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    }*/


#drawer2 h3{
    font-size: 10px;
    background-color:$orange;
    color: white;
    padding: 3px 8px;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 10px;
}
.side_article span {
    font-size: 10px;
    color: #333;
}
.footer_list{
    background-color:black;

}
.search{
    padding:20px;
}
.search_input{
    height: 50px;
    border: 1px solid black;
    text-align: center;
}
.first_column{
    
    width: 45%;
   
    display: inline-block;

}
.second_column{
   
    width: 45%;
    
    display: inline-block;
    float: right;
}
.first_column ul{

}
.first_column ul li{
    padding:5px;

}
.first_column li a{
    text-decoration: none;
    color: #958383;
    font-size: 15px;
    padding-left: 10px;

}
.first_column li a:hover{
    color: white;
}
.second_column ul{

}
.second_column ul li{
     padding:5px;



 a{
    text-decoration: none;
    color: #958383;
    font-size: 15px;
    padding-left: 10px;

}
}
.second_column li a:hover{
    color: white;

}
.footer_links{
   
    padding-left: 5%;
    padding-right:5%;
    padding-top:10%;
    padding-bottom:10%;
    width: 100%;
    display: block;
}
#icon_styles{

    color:black; 
    background-color:white;
    padding: 3%;
    margin-left:4%;
}
.last_footer{
    
    
    width: 100%;
}
.footer_img{
    padding:5%;

}
.last_footer img{
    height: 100%;
    width: 50%;
    margin-left: 25%;
}
.last_footer p{
    color: white;
    font-size: 12px;

}
.last_footer a{
    text-decoration: none;
    color: $orange;

}
.last_footer a:hover{
    text-decoration: underline;
}
#drop_arrow_nav_a{
    color: transparent;
}
.third_column a{
    color: transparent;
}
.logo_search{
    display: none;
}
.bottom_left_statement{
    display: none;
}
.bottom_right_logo{
    display: none;
}
.third_column_with_icons{
    display: none;
}

@media only screen and (max-width: 600px) {
    .description_list2{
        display: none;
    }
    }


@media only screen and (min-width: 700px) {
    .main_head_news{
        display: block;
        
        /*width: 30%;
        float: left;*/
        margin-left: 315px;
        margin-right: 130px;
        position:relative;
        height: 97%;
        
        background-color:white;
    }
    .main_head_news_head{
        color: $orange;
        
        padding-left:10px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .main_news_head{
        color: black;
        font-size: 12px;
        line-height: 0;
        padding-left:10px;
        line-height: 1.1;
    }
    .head_news{
        text-decoration: none;

    }
    
    .head_news :hover{
        color: $orange;
    }
   .down_arrow{
        display: block;
        top: 0;
        right: 80px;
        margin-left: 24px;
        left: 78%;
        position:absolute;
        height: 58px;
        background-color:white;
     

    }
    #down_arrow_a{

        &:before{
            content: '';
            border-style:solid;
            border-color:black transparent transparent;
            border-width: 5px 5px 0px;
            border-right: 5px solid transparent;
            position:absolute;
            top: 25px;
            left: 50%;
        }

    }
    
        #down_arrow_a:hover:before{
           content: '';
            border-color:$orange transparent transparent;
        }
    
    #drop_arrow_nav{
    position: absolute;
    top: -200px;
    /*padding-top: 50px;*/
   
    /*width: 315px;*/
    right: 130px;
    left:315px;
    background: none repeat scroll 0% 0% white;
    overflow-x: auto;
    overflow-y: hidden;
   
    transition: all 0s ease 0s;
    border-top: 2px solid $orange;
    left: 315px;
    z-index: 14;
     ul{
        list-style: outside none none;
    padding:0px;
     }
     li{
        margin:0px;
    padding:0px 0px;
    height: 10%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.34);
     }
    
        #drop_arrow_nav_a{
        display: block;
        font-size: 12px;
        color: black;
        text-decoration:none;
        padding-left:10px;

     }
    #drop_arrow_nav_a:hover{
        color: $orange;
    }
 

}


#drop_arrow_nav.drawer_down{
        transition: 0s;
        top: 61px;
        }
        .imgs1{
        width: 50%;
        
        height: 440px;
        z-index: 13;
        margin-left: -10.2%;
        display: inline-block;
    }
    .imgs2{
        width: 50%;
        float: right;
        height: 220px;
        display: inline-block;

    }
    .imgs3{
        height: 220px;
        width: 50%;
        display: inline-block;
        float: right;
        position:absolute;
        margin-bottom: 0%;
        top: 280px;
        right: 0px;
    }
    .imgs_scroll{
        width: 100%;
    }

}
@media only screen and (min-width: 600px) {
    .first_set_images{

    }
    
    .description{
        display: none;
    }
    .recode{
        display: none;
    }
    .description_list2{
        position:relative;
        width: 100%;
        padding-bottom:350px;
    }
    .description_list2_left{
        width: 50%;
        
        border-right: 1px solid grey;
        position:absolute;
        left: 0;
        /*float: left;
        display: block;
        width: 50%;
        height: 10px;
        border-right: 1px solid grey;*/
       /* &:before{
            content: '';
            position:absolute;
            top: 0;
            bottom:0;
            left: 50%;
            right: auto;
            border-left: 1px solid #DDD;
        }*/
        .description_list2_left_h3{
            padding-left:10px;
            color: black;
            font-size: 28px;
            padding-bottom: 20px;
            .description_list2_left_a{
                color: black;
                text-decoration: none;
            }
            .description_list2_left_a:hover{
                color: $orange;
                text-decoration: underline;
            }
        }

    }

    .description_list2_right{
        position:absolute;
        width: 50%;
        
        left: 50%;
        /*float: left;
        display: block;
        width: 50%;
        height: 10px;*/
         .description_list2_right_h3{
            padding-left:10px;
            color: black;
            font-size: 28px;
            padding-bottom: 20px;
            .description_list2_right_a{
                color: black;
                text-decoration: none;
            }
            .description_list2_right_a:hover{
                color: $orange;
                text-decoration: underline;
            }
        }


    }
    }
    @media only screen and (min-width: 500px) {
        .footer_links{
            display: none;
        }
        .first_column{
            display: none;

        }
        .second_column{
            display: none;
        }
        .third_column{
            display: none;
        }
        

        .first_column2{
            width: 30%;
            float: left;
            display: inline-block;

        }
        .second_column2{
            width: 30%;
    
           display: inline-block;
           float: left

        }
        .third_column2{
            width: 30%;
            display: inline-block;
            float: left;
        }
        .third_column2 ul li{
    padding:5px;

}
.third_column2 li a{
    text-decoration: none;
    color: #958383;
    font-size: 15px;
    padding-left: 10px;

}
.third_column2 li a:hover{
    color: white;
}
    }
   @media only screen and (min-width: 600px) {
    .first_column2{
        display: none;
    }
    .second_column2{
        display: none;
    }
    .third_column2{
        display: none;
    }
    .back_to_top{
        display: none;
    }
    .search{
        display: none;
    }
    .first_column3{

    }
    .second_column3{

    }
    .third_column3{

    }
    .logo_search1{
        width: 30%;
        display: inline-block;
        float: left;
        padding-left:20px;
        padding-top:20px;
    }
    .logo_search1 img{
        width: 150px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .search_input1{
        border:1px solid black;
        width: 150px;
        height: 50px;
    }
    
    .footer_list1{
        background-color:black;
        height: 430px;
        

    }
    .first_column3{
        width: 20%;
        display: inline-block;
        float: left;
    }
    .second_column3{
        width: 20%;
        display: inline-block;
        float: left;
    }
    .third_column3{
        width: 20%;
        display: inline-block;
        float: left;
    }
    .footer_img{
        display: none;
    }
    .bottom_left_statement{
        display: inline-block;
        float: left;
        width: 50%;
        a{
            color: $orange;
            text-decoration:none;
            font-size: 12px;
        }
        a:hover{
            text-decoration:underline;
        }
    }
    .bottom_left_statement p{
        color: white;
        font-size: 12px;
        margin-bottom:-22px;
    }
    .bottom_right_logo{
        display: inline-block;
        float: right;
        width: 50%;
        img{
            height: 35px;
            width: 170px;
            margin-top: 15px;
            margin-left: 120px;
        }
        p{
            color: white;
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: -23px;
            margin-left: 65px;
        }
        a{
            color: $orange;
            text-decoration: none;
            font-size: 12px;
            padding-left: 110px;
        }
        a:hover{
            text-decoration: underline;
        }
        h3{
            color: white;
            padding-left:170px;
            margin-top: -30px;
            font-size: 12px;
        }

    }
    .list_head{
        color: white;
        text-transform: uppercase;
        margin-top: 20px;
        font-size: 14px;
        font-weight: bold;
        em{
            color: $orange;
            font-style: italic;
        }
    }


   }
 @media only screen and (min-width: 800px) {
    .third_column3{
        display: none;
    }
    .third_column_with_icons1{
            width: 20%;
            display: inline-block;
            float: left;
            ul li{
                padding: 5px;
                a{
                    text-decoration: none;
                    color: #958383;
                    font-size: 15px;
                    padding-left: 10px;
                    
                }
                a:hover{
                    color: white;
                }
            }

    }
 }
 /*.third_column2{
            width: 30%;
            display: inline-block;
            float: left;
        }
        .third_column2 ul li{
    padding:5px;

}
.third_column2 li a{
    text-decoration: none;
    color: #958383;
    font-size: 15px;
    padding-left: 10px;

}
.third_column2 li a:hover{
    color: white;
}
  */