/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/reset";
@font-face{
	font-family: 'Helvetica, arial, sanserif';
	src: local('Helvetica, arial, sanserif'), local('Helvetica, arial, sanserif');
	font-style: normal;
	font-weight: normal;
	src:url(./fonts/Helvetica/helvetica-neue1.ttf) format('truetype');	
}
$white: white;
$lightblack: #444;
$orange: #FA4B2A;
$violet_blue:#292484;
$light_red:#DC4225;
$dark_green:#002F4B;
$light_green:#417711;
$dark_yellow:#D38312;
$light_yellow:#E0BE00;
$pink:#A83279;
$grey:#444;
$font_family_AGS: Adelle, Georgia, Serif;
$font_family_HAS: Halvetica, Arial, sanserif;
.container{
     
}
.header{
     background-color:$orange;
     height:60px;
     width:100%;
     box-shadow: 1px 0px 0px 1px;
}
#hamburger{
     height:100%;
     width:9%;;
     padding: 3px 4px;
     float: left;
     display: inline-block;
     cursor: pointer;
     margin-top:10px;

}
#hamburger div{
     background-color:$white;
     border-radius:2px;
     height:5px;
     margin-top:5px;
     width:90%;
}
.header_logo{
     height:100%;
     width:50%;
    /* margin-top: 4px;*/
     margin-left:auto;
     margin-right:auto;
     display: inline-block;
}
.header_logo img{
     height:100%;
     width:100%;
     /*margin-top: -22%;*/
}
#header_right{

     height:50px;
     width:29%;
     float:right;
     display: inline-block;
     border-left: 1px solid white;
     cursor: pointer;
}
.line{
	display:inline-block;
	border: 1px solid white;
	height:100%;
	margin-left:7%;

}

.strong1{
     font-size:2em;
     display:block;
     line-height:1.15;
     color:white;
     text-align:center;
     font-familt:$font_family_HAS;
}
.strong2{
    font-size:0.65em;
    text-align:center;
    color:white;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    float:right;
    font-familt:$font_family_HAS;
}
.img1{
    height:220px;
    width:100%; 
/*background-color:$violet_blue;*/
    background-image:url("https://cdn2.vox-cdn.com/thumbor/G7SPrZTzxFcFoKXxnLcYFNE8ho0=/0x180:3000x1868/680x384/cdn0.vox-cdn.com/uploads/chorus_image/image/48666971/20151010CASF_Water02145_1.0.0.jpg");
    position:relative;
    background-position: center;
    background-size:cover;

&:after{
    content: '';
    position:absolute;
    background-color:$violet_blue;
    background-image:linear-gradient(135deg, $violet_blue, $light_red);
    opacity:0.7;
   
    left:0;
    right: 0;
    bottom:0;
    top:0;
}
}


.img2{
    height:220px;
    width:100%;
    position:relative;
    background-image:url("https://cdn0.vox-cdn.com/thumbor/aFhxzCOj3umiRbxPbcRl382gdvQ=/0x254:3000x1942/340x192/cdn0.vox-cdn.com/uploads/chorus_image/image/48644277/GettyImages-505882626.0.jpg");
    background-position:center;
    background-size:cover;

&:after{
	content:'';
    opacity:0.7;
    position:absolute;
    background-color:$dark_green;
    background-image:linear-gradient(135deg,$dark_green,$light_green);
    left: 0;
    bottom:0;
    right: 0;
    top: 0;
}
}
.img3{
    width:100%;
    height: 220px;
    position: relative;
    background-image:url("https://cdn3.vox-cdn.com/thumbor/gkhkL8-wwAxExPEdq6bVFBEhf8s=/0x53:1020x627/340x192/cdn0.vox-cdn.com/uploads/chorus_image/image/48650871/IMG_5826.0.jpg");
    background-position:center;
    background-size:cover;

    &:after{
    	content: '';
    	position:absolute;
    	left: 0;
    	right: 0;
    	bottom:0;
    	top: 0;
    	 background-color:$violet_blue;
        background-image:linear-gradient(135deg,$violet_blue,$pink);
        opacity: 0.7;
    }
}
.img4{
    width:75%;
    height: 220px;
    position: relative;
    background-image:url("https://cdn2.vox-cdn.com/thumbor/DAE7plskNyZissyOPNvk0-Ijlcg=/213x0:1063x850/350x350/cdn0.vox-cdn.com/uploads/chorus_image/image/48692457/airmail.0.0.jpg");
    background-position:center;
    /*background-size:cover;*/
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;



    &:after{
    	content: '';
    	position:absolute;
    	left: 0;
    	right: 0;
    	bottom:0;
    	top: 0;
    	 background-color:$dark_yellow;
        background-image:linear-gradient(135deg,$dark_yellow,$dark_green);
        opacity: 0.7;
    }
}

.img5{
    width:75%;
    height: 220px;
    position: relative;
    background-image:url("https://cdn0.vox-cdn.com/thumbor/ZER7DKNwaQ41K5uqWVHrb6Ven6U=/0x184:3696x2263/376x212/cdn0.vox-cdn.com/uploads/chorus_image/image/48678951/GettyImages-486026810.0.jpg");
    background-position:center;
    /*background-size:cover;*/
    background-repeat: no-repeat;
    display: inline-block;




    &:after{
        content: '';
        position:absolute;
        left: 0;
        right: 0;
        bottom:0;
        top: 0;
         background-color:$dark_green;
        background-image:linear-gradient(135deg,$dark_green,$light_green);
        opacity: 0.7;
    }
}

.img6{
    width:75%;
    height: 220px;
    position: relative;
    background-image:url("https://cdn2.vox-cdn.com/thumbor/pVKDBuU5Ut6Eu60ze90bWw0xueY=/0x185:1682x746/800x267/cdn0.vox-cdn.com/uploads/chorus_image/image/48682063/armageddon_promotional_still.0.0.jpg");
    background-position:center;
    /*background-size:cover;*/
    background-repeat: no-repeat;
    display: inline-block;




    &:after{
        content: '';
        position:absolute;
        left: 0;
        right: 0;
        bottom:0;
        top: 0;
         background-color:$dark_yellow;
        background-image:linear-gradient(135deg,$dark_yellow,$light_green);
        opacity: 0.7;
    }
}

.img7{
    width:75%;
    height: 220px;
    position: relative;
    background-image:url("https://cdn0.vox-cdn.com/thumbor/5KoYwb3DZFiSCItSVgnzYhGgfv4=/0x341:2039x1021/800x267/cdn0.vox-cdn.com/uploads/chorus_image/image/48689365/spotify-logo-stock1_2040.0.jpg");
    background-position:center;
    /*background-size:cover;*/
    background-repeat: no-repeat;
    display: inline-block;




    &:after{
        content: '';
        position:absolute;
        left: 0;
        right: 0;
        bottom:0;
        top: 0;
         background-color:$dark_green;
        background-image:linear-gradient(135deg,$dark_green,$light_green);
        opacity: 0.7;
    }
}
.person_icon{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 1px;
}

#drawer{
	    position: absolute;
    top: 37px;
    padding-top: 50px;
    height: auto;
    width: 180px;
    background: none repeat scroll 0% 0% #2F2F2F;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 34px;
    transition: all 1s ease 0s;

    left: -250px;
    z-index: 11;
}
#drawer ul{
	list-style: outside none none;
	padding: 0px;
	
}
#drawer li{
	margin: 0px;
	width: 175px;
	padding: 10px 0px;
}
#drawer li a {
	display: block;
	color: #FFF;
	text-decoration: none;
	text-align: left;
        font-size:10px;
}
 #drawer.drawer_left{
        transition: 1s;
        left:0px;
        }
 
        #drawer li a:hover {
            background-color:grey;
        }
        #drawer { 
        	padding-top: 10px;
        	 }
  #drawer2{
position:absolute;
height:auto;
width:75%;
right:-100%;
border-left:1px solid $orange;
overflow-x:hidden;
overflow-y:auto;
transition: all 1s ease 0s;
z-index:11;
color:black;
background-color:white;
}
#drawer2 ul{
	list-style: outside none none;
	padding: 0px;
	
}
#drawer2 li{
margin:0px;
width:100%;
padding:10px 0px;
}
#drawer2 li a{
display:block;
color:black;
text-decoration:none;
text-align:left;

}

#drawer2.drawer_right{
transition:1s;
right:0px;
}
#drawer2 li a:hover {
            color:$orange;
        }

.a1{
	text-decoration:none;
}
.img_head{
	position:relative;
	padding:0px;
	margin:0px;
	font-size:22px;
	z-index:10;
	color:white;
	line-height:1.2;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	padding-top:5%;
	margin-left:5%;
	margin-right:5%;
}

.img_para{
	position:relative;
	z-index:10;
	font-size:12px;
	color:white;
	margin:5px 0px 0px;
	margin-left:5%;
	margin-right:5%;
}
.img_head1{
    position:relative;
    z-index: 10;
    font-size: 20px;
    color: white;
    line-height: 1.2;
    padding: 0px;
    margin: 0px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    padding-top:5%;
    margin-left:5%;
    margin-right:5%;
    white-space: normal;
}
.img_para1{
    position:relative;
    z-index:10;
    font-size:12px;
    color:white;
    margin:5px 0px 0px;
    margin-left:5%;
    margin-right:5%;
    white-space: normal;
}
.comment_count{
	float:right;
	/*font-size:0.9em;*/
	font-size:10px;
	display:inline-block;
	text-align:center;
	min-width:25px;
	position:relative;
	line-height:0.7;
	/*padding: 0.4rem 0.2rem 0.2rem;*/
	padding: 5px 1px 5px;
	background-color:#4A8813;
    color: white;
	&:after{
		content: "";
		position:absolute;
	    right: 0px;
		top: 100%;
		display: block;
		height: 0px;
		width: 0px;
		border-style:solid;
		border-right: 7px solid transparent;
		border-width:7px 8px 0px 0px;
		border-color: black transparent transparent;
	
}
}
.description_list{
	padding:0px;
	margin:0px;

}
.recode{
	position:relative;
	height:35px;
	width:100%;
	padding-top:5px;
    padding-bottom:0px;
}
.recode_header{
	width:100%;
	height:50px;
}
.recode_header span{
	font-size:10px;
	text-transform: uppercase;
	display:inline-block;
	font-family: $font_family_HAS;
}
.recode_header div {
	display:inline-block;
	height:30px;
	width:90;

}
.recode_header div img{
	height:100%;
	width:100%;
}
.description{
	border-bottom: 1px solid rgb(221,221,221);
	position:relative;
	padding:3px;
}
.description_img{
	display: table-cell;
	padding-right: 3px;
	vertical-align:top;
    padding-top:10px;
    padding-left:10px;
    padding-bottom: 10px;
}
.description_img a {
	display:block;
}
.desc_img{
	height:75px;
	width:75px;
    box-shadow: inset 0 0 40px rgba(68,68,68,0.77);
}
.description_content{
	display:table-cell;
	color:$grey;
	vertical-align:top;
    padding-top:10px;
}
.description_content h3 {
	font-size:16px;
	margin:0px;
	line-height:1.2;
}
.author strong{
	font-size:10px;
	font-weight:10;
}
.author em{
	border-left:1px solid black;
	font-size:10px;
}
.img_scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 220px;
}