/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*font-family: 'Open Sans Condensed', sans-serif;*/
/* line 2, ../sass/_header.scss */
.header {
  background-color: #FA4B2A;
  height: 60px;
  width: 100%;
  box-shadow: 1px 0px 0px 1px;
}

/* line 8, ../sass/_header.scss */
#hamburger {
  height: 100%;
  width: 9%;
  padding: 3px 4px;
  float: left;
  display: block;
  cursor: pointer;
}

/* line 17, ../sass/_header.scss */
#hamburger div {
  background-color: white;
  border-radius: 2px;
  height: 5px;
  margin-top: 5px;
  width: 25px;
}

/* line 24, ../sass/_header.scss */
.header_logo {
  height: 75%;
  width: 184px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  float: left;
}

/* line 35, ../sass/_header.scss */
.header_logo img {
  height: 100%;
}

/* line 39, ../sass/_header.scss */
#header_right {
  height: 50px;
  width: 80px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid white;
  cursor: pointer;
}

/* line 50, ../sass/_header.scss */
.main_head_news {
  display: inline-block;
  display: none;
}

/* line 54, ../sass/_header.scss */
.down_arrow {
  display: none;
  display: inline-block;
}

/* line 59, ../sass/_header.scss */
.line {
  display: inline-block;
  border: 1px solid white;
  height: 100%;
  margin-left: 7%;
}

/* line 67, ../sass/_header.scss */
.strong1 {
  font-size: 2em;
  display: block;
  line-height: 1.15;
  color: white;
  text-align: center;
}

/* line 75, ../sass/_header.scss */
.strong2 {
  font-size: 0.65em;
  text-align: center;
  color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: right;
  text-transform: uppercase;
}

/* line 86, ../sass/_header.scss */
.person_icon {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 1px;
}

/* line 94, ../sass/_header.scss */
#drawer {
  position: absolute;
  top: 37px;
  padding-top: 50px;
  height: auto;
  width: 180px;
  background: none repeat scroll 0% 0% #2F2F2F;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 34px;
  transition: all 1s ease 0s;
  border-left: 2px solid #A83279;
  left: -250px;
  z-index: 16;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 110, ../sass/_header.scss */
#drawer ul {
  list-style: outside none none;
  padding: 0px;
}

/* line 115, ../sass/_header.scss */
#drawer li {
  margin: 0px;
  width: 175px;
  padding: 10px 0px;
}

/* line 120, ../sass/_header.scss */
#drawer li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}

/* line 128, ../sass/_header.scss */
#drawer.drawer_left {
  transition: 1s;
  left: 0px;
}

/* line 133, ../sass/_header.scss */
#drawer li a:hover {
  color: #FA4B2A;
}

/* line 136, ../sass/_header.scss */
#drawer {
  padding-top: 10px;
}

/* line 139, ../sass/_header.scss */
.li_footer {
  background-color: black;
}

/* line 142, ../sass/_header.scss */
#drawer2 {
  position: absolute;
  height: auto;
  width: 75%;
  right: -100%;
  border-left: 1px solid #FA4B2A;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 1s ease 0s;
  z-index: 16;
  color: black;
  background-color: white;
  font-family: Adelle, Georgia, Serif;
}

/* line 156, ../sass/_header.scss */
#drawer2 ul {
  list-style: outside none none;
  padding-left: 10px;
}

/* line 161, ../sass/_header.scss */
#drawer2 li {
  margin: 0px;
  width: 100%;
  padding: 0px;
}

/* line 166, ../sass/_header.scss */
#drawer2 li a {
  display: block;
  color: black;
  text-decoration: none;
  text-align: left;
}

/* line 173, ../sass/_header.scss */
#drawer2.drawer_right {
  transition: 1s;
  right: 0px;
}

/* line 177, ../sass/_header.scss */
#drawer2 li a:hover {
  color: #FA4B2A;
}

/* line 180, ../sass/_header.scss */
#drawer2 h3 {
  font-size: 10px;
  background-color: #FA4B2A;
  color: white;
  padding: 3px 8px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 10px;
}

/* line 189, ../sass/_header.scss */
.side_article span {
  font-size: 10px;
  color: #333;
}

@media only screen and (min-width: 700px) {
  /* line 194, ../sass/_header.scss */
  .main_head_news {
    display: block;
    margin-left: 315px;
    margin-right: 130px;
    position: relative;
    height: 97%;
    background-color: white;
  }

  /* line 205, ../sass/_header.scss */
  .main_head_news_head {
    color: #FA4B2A;
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    font-family: Adelle, Georgia, Serif;
  }

  /* line 215, ../sass/_header.scss */
  .main_news_head {
    color: black;
    font-size: 12px;
    line-height: 0;
    padding-left: 10px;
    line-height: 1.1;
    font-family: Adelle, Georgia, Serif;
  }

  /* line 223, ../sass/_header.scss */
  .head_news {
    text-decoration: none;
  }

  /* line 229, ../sass/_header.scss */
  .head_news :hover {
    color: #FA4B2A;
  }

  /* line 232, ../sass/_header.scss */
  .down_arrow {
    display: block;
    top: 0;
    right: 80px;
    margin-left: 24px;
    left: 78%;
    position: absolute;
    height: 58px;
    background-color: white;
  }

  /* line 246, ../sass/_header.scss */
  #down_arrow_a:before {
    content: '';
    border-style: solid;
    border-color: black transparent transparent;
    border-width: 5px 5px 0px;
    border-right: 5px solid transparent;
    position: absolute;
    top: 25px;
    left: 50%;
  }

  /* line 258, ../sass/_header.scss */
  #down_arrow_a:hover:before {
    content: '';
    border-color: #FA4B2A transparent transparent;
  }

  /* line 263, ../sass/_header.scss */
  #drop_arrow_nav {
    position: absolute;
    top: -200px;
    right: 130px;
    left: 315px;
    background: none repeat scroll 0% 0% white;
    overflow-x: auto;
    overflow-y: hidden;
    transition: all 0s ease 0s;
    border-top: 2px solid #FA4B2A;
    left: 315px;
    z-index: 14;
  }
  /* line 277, ../sass/_header.scss */
  #drop_arrow_nav ul {
    list-style: outside none none;
    padding: 0px;
  }
  /* line 281, ../sass/_header.scss */
  #drop_arrow_nav li {
    margin: 0px;
    padding: 0px 0px;
    height: 10%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  }
  /* line 288, ../sass/_header.scss */
  #drop_arrow_nav #drop_arrow_nav_a {
    display: block;
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding-left: 10px;
  }
  /* line 296, ../sass/_header.scss */
  #drop_arrow_nav #drop_arrow_nav_a:hover {
    color: #FA4B2A;
  }

  /* line 304, ../sass/_header.scss */
  #drop_arrow_nav.drawer_down {
    transition: 0s;
    top: 61px;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 312, ../sass/_header.scss */
  .desktop_head_ack {
    height: 100px;
    width: 100px;
    border: 1px solid black;
  }

  /* line 317, ../sass/_header.scss */
  .down_arrow {
    top: 102px;
  }

  /* line 320, ../sass/_header.scss */
  #drop_arrow_nav.drawer_down {
    top: 161px;
  }

  /* line 323, ../sass/_header.scss */
  #header_right {
    top: 107px;
  }
}
/* line 1, ../sass/_content.scss */
.img {
  height: 220px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

/* line 9, ../sass/_content.scss */
.img1 {
  background-image: url("../images/img1.jpg");
}
/* line 11, ../sass/_content.scss */
.img1:after {
  content: '';
  position: absolute;
  background-color: #292484;
  background-image: linear-gradient(135deg, #292484, #DC4225);
  opacity: 0.7;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

/* line 23, ../sass/_content.scss */
.img2 {
  background-image: url("../images/img2.jpg");
}
/* line 26, ../sass/_content.scss */
.img2:after {
  content: '';
  opacity: 0.7;
  position: absolute;
  background-color: #002F4B;
  background-image: linear-gradient(135deg, #002F4B, #417711);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 38, ../sass/_content.scss */
.img3 {
  background-image: url("../images/img3.jpg");
}
/* line 41, ../sass/_content.scss */
.img3:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #292484;
  background-image: linear-gradient(135deg, #292484, #A83279);
  opacity: 0.7;
}

/* line 53, ../sass/_content.scss */
.imgs {
  width: 75%;
  height: 220px;
  position: relative;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
}

/* line 63, ../sass/_content.scss */
.img4 {
  background-image: url("../images/img4.jpg");
  background-position: center;
}
/* line 67, ../sass/_content.scss */
.img4:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #D38312;
  background-image: linear-gradient(135deg, #D38312, #002F4B);
  opacity: 0.7;
}

/* line 79, ../sass/_content.scss */
.img5 {
  background-image: url("https://cdn0.vox-cdn.com/thumbor/ZER7DKNwaQ41K5uqWVHrb6Ven6U=/0x184:3696x2263/376x212/cdn0.vox-cdn.com/uploads/chorus_image/image/48678951/GettyImages-486026810.0.jpg");
}
/* line 83, ../sass/_content.scss */
.img5:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #002F4B;
  background-image: linear-gradient(135deg, #002F4B, #417711);
  opacity: 0.7;
}

/* line 95, ../sass/_content.scss */
.img6 {
  background-image: url("../images/img6.jpg");
}
/* line 98, ../sass/_content.scss */
.img6:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #D38312;
  background-image: linear-gradient(135deg, #D38312, #417711);
  opacity: 0.7;
}

/* line 110, ../sass/_content.scss */
.img7 {
  background-image: url("../images/img7.jpg");
}
/* line 114, ../sass/_content.scss */
.img7:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #002F4B;
  background-image: linear-gradient(135deg, #002F4B, #417711);
  opacity: 0.7;
}

/* line 126, ../sass/_content.scss */
.img8 {
  background-image: url("../images/img8.jpg");
}
/* line 131, ../sass/_content.scss */
.img8:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #DC4225;
  background-image: linear-gradient(135deg, #DC4225, #292484);
  opacity: 0.7;
}

/* line 143, ../sass/_content.scss */
.img9 {
  background-image: url("../images/img9.jpg");
}
/* line 147, ../sass/_content.scss */
.img9:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #002F4B;
  background-image: linear-gradient(135deg, #002F4B, #417711);
  opacity: 0.7;
}

/* line 159, ../sass/_content.scss */
.a1 {
  text-decoration: none;
}

/* line 162, ../sass/_content.scss */
.img_head {
  position: relative;
  padding: 0px;
  margin: 0px;
  font-size: 22px;
  z-index: 10;
  color: white;
  line-height: 1.2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Adelle, Georgia, Serif;
}

/* line 177, ../sass/_content.scss */
.img_para {
  position: relative;
  z-index: 10;
  font-size: 12px;
  color: white;
  margin: 5px 0px 0px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Adelle, Georgia, Serif;
}

/* line 187, ../sass/_content.scss */
.img_head1 {
  position: relative;
  z-index: 10;
  font-size: 20px;
  color: white;
  line-height: 1.2;
  padding: 0px;
  margin: 0px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  white-space: normal;
  font-family: Adelle, Georgia, Serif;
}

/* line 202, ../sass/_content.scss */
.img_para1 {
  position: relative;
  z-index: 10;
  font-size: 12px;
  color: white;
  margin: 5px 0px 0px;
  margin-left: 5%;
  margin-right: 5%;
  white-space: normal;
  font-family: Adelle, Georgia, Serif;
}

/* line 213, ../sass/_content.scss */
.comment_count {
  float: right;
  font-size: 10px;
  display: inline-block;
  text-align: center;
  min-width: 25px;
  position: relative;
  line-height: 0.7;
  padding: 5px 1px 5px;
  background-color: #4A8813;
  color: white;
}
/* line 226, ../sass/_content.scss */
.comment_count:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  display: block;
  height: 0px;
  width: 0px;
  border-style: solid;
  border-right: 7px solid transparent;
  border-width: 7px 8px 0px 0px;
  border-color: black transparent transparent;
}

/* line 241, ../sass/_content.scss */
.description_list {
  padding: 0px;
  margin: 0px;
}

/* line 247, ../sass/_content.scss */
.recode {
  position: relative;
  height: 35px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 0px;
}

/* line 254, ../sass/_content.scss */
.recode_header {
  width: 100%;
  height: 35px;
}

/* line 258, ../sass/_content.scss */
.recode_header span {
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  font-family: Adelle, Georgia, Serif;
}

/* line 265, ../sass/_content.scss */
.recode_header div {
  display: inline-block;
  height: 30px;
  width: 90;
}

/* line 271, ../sass/_content.scss */
.recode_header div img {
  height: 100%;
  width: 100%;
}

/* line 275, ../sass/_content.scss */
.description {
  border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  position: relative;
  padding: 3px;
}

/* line 281, ../sass/_content.scss */
.description_img {
  display: table-cell;
  padding-right: 3px;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

/* line 289, ../sass/_content.scss */
.description_img a {
  display: block;
}

/* line 292, ../sass/_content.scss */
.desc_img {
  height: 75px;
  width: 75px;
  box-shadow: inset 0 0 40px rgba(68, 68, 68, 0.77);
}

/* line 297, ../sass/_content.scss */
#desc_img1 {
  background-image: url("../images/desc_img1.png");
  background-position: center;
  background-size: cover;
}

/* line 303, ../sass/_content.scss */
#desc_img2 {
  background-image: url("../images/desc_img2.jpg");
  background-position: center;
  background-size: cover;
}

/* line 309, ../sass/_content.scss */
#desc_img3 {
  background-image: url("../images/desc_img3.png");
  background-position: center;
  background-size: cover;
}

/* line 315, ../sass/_content.scss */
#desc_img4 {
  background-image: url("../images/desc_img4.jpg");
  /*background-position:center;*/
  background-size: cover;
}

/* line 321, ../sass/_content.scss */
#desc_img5 {
  background-image: url("../images/desc_img5.jpg");
  background-position: center;
  background-size: cover;
}

/* line 327, ../sass/_content.scss */
.description_content {
  display: table-cell;
  color: #444;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 5px;
}

/* line 334, ../sass/_content.scss */
.description_content h3 {
  font-size: 16px;
  margin: 0px;
  line-height: 1.2;
  font-family: Adelle, Georgia, Serif;
}

/* line 340, ../sass/_content.scss */
.author strong {
  font-size: 10px;
  font-weight: bold;
  font-family: Adelle, Georgia, Serif;
}

/* line 345, ../sass/_content.scss */
.author em {
  border-left: 1px solid black;
  font-size: 10px;
  padding-left: 5px;
  font-family: Adelle, Georgia, Serif;
}

/* line 351, ../sass/_content.scss */
.img_scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 220px;
  position: relative;
  width: 99%;
}

/* line 360, ../sass/_content.scss */
.description_lists1_left {
  display: none;
}

/* line 363, ../sass/_content.scss */
.description_lists1_right {
  display: none;
}

/*.news_list_link{
    display: none;
}*/
/*@media only screen and (max-width: 600px) {
    .description_list2{
        display: none;
    }
    }*/
@media only screen and (min-width: 700px) {
  /* line 376, ../sass/_content.scss */
  .imgs1 {
    width: 50%;
    height: 440px;
    z-index: 13;
    margin-left: -10.2%;
    display: inline-block;
  }

  /* line 384, ../sass/_content.scss */
  .imgs2 {
    width: 50%;
    float: right;
    height: 220px;
    display: inline-block;
  }

  /* line 391, ../sass/_content.scss */
  .imgs3 {
    height: 220px;
    width: 50%;
    display: inline-block;
    float: right;
    position: absolute;
    margin-bottom: 0%;
    top: 280px;
    right: 0px;
  }

  /* line 401, ../sass/_content.scss */
  .imgs_scroll {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 411, ../sass/_content.scss */
  .description {
    display: none;
  }

  /* line 414, ../sass/_content.scss */
  .recode {
    display: none;
  }

  /* line 417, ../sass/_content.scss */
  .description_lists1 {
    width: 100%;
  }

  /* line 421, ../sass/_content.scss */
  .description_lists1_h {
    font-size: 29px;
    padding-left: 10px;
    font-family: Adelle, Georgia, Serif;
    padding-right: 10px;
  }

  /* line 428, ../sass/_content.scss */
  .description_lists1_a {
    color: black;
    text-decoration: none;
  }

  /* line 432, ../sass/_content.scss */
  .description_lists1_a:hover {
    text-decoration: underline;
    color: #FA4B2A;
  }

  /* line 436, ../sass/_content.scss */
  .description_lists1_left {
    float: left;
    display: inline-block;
    width: 49%;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  /* line 444, ../sass/_content.scss */
  .description_lists1_right {
    float: left;
    display: inline-block;
    width: 50%;
    border-bottom: 1px solid grey;
  }

  /*.left{
      border-right: 1px solid grey;
  }*/
  /* line 455, ../sass/_content.scss */
  .author {
    color: black;
    padding-left: 10px;
    font-family: Helvetica, Arial, sanserif;
  }

  /* line 462, ../sass/_content.scss */
  .author span a {
    color: black;
    font-weight: bold;
    font-family: Helvetica, Arial, sanserif;
    text-decoration: none;
    font-size: 12px;
  }
  /* line 469, ../sass/_content.scss */
  .author span a:hover {
    text-decoration: underline;
    color: #FA4B2A;
  }

  /* line 474, ../sass/_content.scss */
  .desc_imgs {
    box-shadow: inset 0 0 40px rgba(68, 68, 68, 0.77);
    margin: 10px;
    padding: 135px;
  }

  /* line 480, ../sass/_content.scss */
  .description_lists1_p {
    font-size: 15px;
    font-family: Helvetica, Arial, sanserif;
    padding-left: 10px;
    color: #444;
  }

  /* line 488, ../sass/_content.scss */
  .news_list_link ul li {
    background-color: #FA4B2A;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-left: 10px;
    width: 45px;
    height: 20px;
    display: inline-block;
    float: left;
  }
  /* line 497, ../sass/_content.scss */
  .news_list_link ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 511, ../sass/_content.scss */
  .imgs3 {
    top: 382px;
  }
}
   /* .description_list2{
        position:relative;
        width: 100%;
        padding-bottom:350px;
    }
    .description_list2_left{
        width: 50%;
        
        border-right: 1px solid grey;
        position:absolute;
        left: 0;
        
        .description_list2_left_h3{
            padding-left:10px;
            color: black;
            font-size: 28px;
            padding-bottom: 20px;
            .description_list2_left_a{
                color: black;
                text-decoration: none;
            }
            .description_list2_left_a:hover{
                color: $orange;
                text-decoration: underline;
            }
        }

    }

    .description_list2_right{
        position:absolute;
        width: 50%;
        
        left: 50%;
       
         .description_list2_right_h3{
            padding-left:10px;
            color: black;
            font-size: 28px;
            padding-bottom: 20px;
            .description_list2_right_a{
                color: black;
                text-decoration: none;
            }
            .description_list2_right_a:hover{
                color: $orange;
                text-decoration: underline;
            }
        }


    }*/
/* line 1, ../sass/_footer.scss */
.see_all_news_div {
  border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  /*position:relative;*/
  display: inline-block;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 9, ../sass/_footer.scss */
.see_all_news_div a {
  color: #FA4B2A;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* line 15, ../sass/_footer.scss */
.see_all_news a:hover {
  text-decoration: underline;
}

/* line 18, ../sass/_footer.scss */
.footer_image {
  display: block;
  overflow-x: hidden;
}

/* line 25, ../sass/_footer.scss */
.back_to_top {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  background-color: #555;
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

/* line 40, ../sass/_footer.scss */
.footer_list {
  background-color: black;
}

/* line 44, ../sass/_footer.scss */
.search {
  padding: 20px;
}

/* line 47, ../sass/_footer.scss */
.search_input {
  height: 50px;
  border: 1px solid black;
  text-align: center;
}

/* line 52, ../sass/_footer.scss */
.first_column {
  width: 45%;
  display: inline-block;
}

/* line 59, ../sass/_footer.scss */
.second_column {
  width: 45%;
  display: inline-block;
  float: right;
}

/* line 69, ../sass/_footer.scss */
.first_column ul li {
  padding: 5px;
}

/* line 73, ../sass/_footer.scss */
.first_column li a {
  text-decoration: none;
  color: #958383;
  font-size: 13px;
  padding-left: 10px;
  font-family: Adelle, Georgia, Serif;
}

/* line 81, ../sass/_footer.scss */
.first_column li a:hover {
  color: white;
}

/* line 87, ../sass/_footer.scss */
.second_column ul li {
  padding: 5px;
}
/* line 92, ../sass/_footer.scss */
.second_column ul li a {
  text-decoration: none;
  color: #958383;
  font-size: 13px;
  padding-left: 10px;
  font-family: Adelle, Georgia, Serif;
}

/* line 101, ../sass/_footer.scss */
.second_column li a:hover {
  color: white;
}

/* line 105, ../sass/_footer.scss */
.footer_links {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  display: block;
}

/* line 114, ../sass/_footer.scss */
#icon_styles {
  color: black;
  background-color: white;
  padding: 3%;
  margin-left: 4%;
}

/* line 121, ../sass/_footer.scss */
.last_footer {
  width: 100%;
}

/* line 126, ../sass/_footer.scss */
.footer_img {
  padding: 5%;
}

/* line 130, ../sass/_footer.scss */
.last_footer img {
  height: 100%;
  width: 50%;
  margin-left: 25%;
}

/* line 135, ../sass/_footer.scss */
.last_footer p {
  color: white;
  font-size: 12px;
}

/* line 140, ../sass/_footer.scss */
.last_footer a {
  text-decoration: none;
  color: #FA4B2A;
}

/* line 145, ../sass/_footer.scss */
.last_footer a:hover {
  text-decoration: underline;
}

/* line 148, ../sass/_footer.scss */
#drop_arrow_nav_a {
  color: transparent;
}

/* line 151, ../sass/_footer.scss */
.third_column a {
  color: transparent;
}

/* line 154, ../sass/_footer.scss */
.logo_search {
  display: none;
}

/* line 157, ../sass/_footer.scss */
.bottom_left_statement {
  display: none;
}

/* line 160, ../sass/_footer.scss */
.bottom_right_logo {
  display: none;
}

/* line 163, ../sass/_footer.scss */
.third_column_with_icons {
  display: none;
}

@media only screen and (min-width: 500px) {
  /* line 167, ../sass/_footer.scss */
  .footer_links {
    display: none;
  }

  /* line 170, ../sass/_footer.scss */
  .first_column {
    display: none;
  }

  /* line 174, ../sass/_footer.scss */
  .second_column {
    display: none;
  }

  /* line 177, ../sass/_footer.scss */
  .third_column {
    display: none;
  }

  /* line 182, ../sass/_footer.scss */
  .first_column2 {
    width: 30%;
    float: left;
    display: inline-block;
  }

  /* line 188, ../sass/_footer.scss */
  .second_column2 {
    width: 30%;
    display: inline-block;
    float: left;
  }

  /* line 195, ../sass/_footer.scss */
  .third_column2 {
    width: 30%;
    display: inline-block;
    float: left;
  }

  /* line 200, ../sass/_footer.scss */
  .third_column2 ul li {
    padding: 5px;
  }

  /* line 204, ../sass/_footer.scss */
  .third_column2 li a {
    text-decoration: none;
    color: #958383;
    font-size: 13px;
    padding-left: 10px;
    font-family: Adelle, Georgia, Serif;
  }

  /* line 212, ../sass/_footer.scss */
  .third_column2 li a:hover {
    color: white;
  }
}
@media only screen and (min-width: 600px) {
  /* line 217, ../sass/_footer.scss */
  .first_column2 {
    display: none;
  }

  /* line 220, ../sass/_footer.scss */
  .second_column2 {
    display: none;
  }

  /* line 223, ../sass/_footer.scss */
  .third_column2 {
    display: none;
  }

  /* line 226, ../sass/_footer.scss */
  .back_to_top {
    display: none;
  }

  /* line 229, ../sass/_footer.scss */
  .search {
    display: none;
  }

  /* line 241, ../sass/_footer.scss */
  .logo_search1 {
    width: 30%;
    display: inline-block;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
  }

  /* line 248, ../sass/_footer.scss */
  .logo_search1 img {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* line 254, ../sass/_footer.scss */
  .search_input1 {
    border: 1px solid black;
    width: 150px;
    height: 50px;
  }

  /* line 260, ../sass/_footer.scss */
  .footer_list1 {
    background-color: black;
    height: 430px;
  }

  /* line 266, ../sass/_footer.scss */
  .first_column3 {
    width: 20%;
    display: inline-block;
    float: left;
  }

  /* line 271, ../sass/_footer.scss */
  .second_column3 {
    width: 20%;
    display: inline-block;
    float: left;
  }

  /* line 276, ../sass/_footer.scss */
  .third_column3 {
    width: 20%;
    display: inline-block;
    float: left;
  }

  /* line 281, ../sass/_footer.scss */
  .footer_img {
    display: none;
  }

  /* line 284, ../sass/_footer.scss */
  .bottom_left_statement {
    display: inline-block;
    float: left;
    width: 50%;
  }
  /* line 288, ../sass/_footer.scss */
  .bottom_left_statement a {
    color: #FA4B2A;
    text-decoration: none;
    font-size: 12px;
  }
  /* line 293, ../sass/_footer.scss */
  .bottom_left_statement a:hover {
    text-decoration: underline;
  }

  /* line 297, ../sass/_footer.scss */
  .bottom_left_statement p {
    color: white;
    font-size: 12px;
    margin-bottom: -22px;
  }

  /* line 302, ../sass/_footer.scss */
  .bottom_right_logo {
    display: inline-block;
    float: right;
    width: 50%;
  }
  /* line 306, ../sass/_footer.scss */
  .bottom_right_logo img {
    height: 35px;
    width: 170px;
    margin-top: 15px;
    margin-left: 120px;
  }
  /* line 312, ../sass/_footer.scss */
  .bottom_right_logo p {
    color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: -23px;
    margin-left: 65px;
  }
  /* line 319, ../sass/_footer.scss */
  .bottom_right_logo a {
    color: #FA4B2A;
    text-decoration: none;
    font-size: 12px;
    padding-left: 110px;
  }
  /* line 325, ../sass/_footer.scss */
  .bottom_right_logo a:hover {
    text-decoration: underline;
  }
  /* line 328, ../sass/_footer.scss */
  .bottom_right_logo h3 {
    color: white;
    padding-left: 170px;
    margin-top: -30px;
    font-size: 12px;
  }

  /* line 336, ../sass/_footer.scss */
  .list_head {
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 15px;
  }
  /* line 344, ../sass/_footer.scss */
  .list_head em {
    color: #FA4B2A;
    font-style: italic;
  }
}
@media only screen and (min-width: 800px) {
  /* line 353, ../sass/_footer.scss */
  .third_column3 {
    display: none;
  }

  /* line 356, ../sass/_footer.scss */
  .third_column_with_icons1 {
    width: 20%;
    display: inline-block;
    float: left;
  }
  /* line 360, ../sass/_footer.scss */
  .third_column_with_icons1 ul li {
    padding: 5px;
  }
  /* line 362, ../sass/_footer.scss */
  .third_column_with_icons1 ul li a {
    text-decoration: none;
    color: #958383;
    font-size: 15px;
    padding-left: 10px;
  }
  /* line 369, ../sass/_footer.scss */
  .third_column_with_icons1 ul li a:hover {
    color: white;
  }

  /* line 375, ../sass/_footer.scss */
  #icon {
    color: black;
    background-color: white;
    padding: 3%;
    margin-left: 4%;
  }
}
/*@font-face{
	font-family: 'Helvetica, arial, sanserif';
	src: local('Helvetica, arial, sanserif'), local('Helvetica, arial, sanserif');
	font-style: normal;
	font-weight: normal;
	src:url(./fonts/Helvetica/helvetica-neue1.ttf) format('truetype');	
}*/
