/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Helvetica, arial, sanserif';
  src: local("Helvetica, arial, sanserif"), local("Helvetica, arial, sanserif");
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/Helvetica/helvetica-neue1.ttf) format("truetype");
}
/* line 27, ../sass/screen.scss */
.container {
  width: 320px;
}

/* line 30, ../sass/screen.scss */
.header {
  background-color: #FA4B2A;
  height: 60px;
  width: 100%;
  box-shadow: 1px 0px 0px 1px;
}

/* line 36, ../sass/screen.scss */
#hamburger {
  height: 35px;
  width: 30px;
  padding: 3px 4px;
  float: left;
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
}

/* line 46, ../sass/screen.scss */
#hamburger div {
  background-color: white;
  border-radius: 2px;
  height: 5px;
  margin-top: 5px;
  width: 90%;
}

/* line 53, ../sass/screen.scss */
.header_logo {
  height: 100%;
  width: 57%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

/* line 61, ../sass/screen.scss */
.header_logo img {
  height: 100%;
  width: 100%;
}

/* line 65, ../sass/screen.scss */
.header_right {
  height: 50px;
  width: 30%;
  float: right;
  display: inline-block;
}

/* line 72, ../sass/screen.scss */
.strong1 {
  font-size: 2em;
  display: block;
  line-height: 1.15;
  color: white;
  text-align: center;
  font-familt: Halvetica, Arial, sanserif;
}

/* line 80, ../sass/screen.scss */
.strong2 {
  font-size: 0.65em;
  text-align: center;
  color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: right;
  font-familt: Halvetica, Arial, sanserif;
}

/* line 90, ../sass/screen.scss */
.img1 {
  height: 220px;
  width: 100%;
  /*background-color:$violet_blue;*/
  background-image: url("https://cdn2.vox-cdn.com/thumbor/G7SPrZTzxFcFoKXxnLcYFNE8ho0=/0x180:3000x1868/680x384/cdn0.vox-cdn.com/uploads/chorus_image/image/48666971/20151010CASF_Water02145_1.0.0.jpg");
  position: relative;
  background-position: center;
}

/* line 99, ../sass/screen.scss */
.img1 ::after {
  content: '';
  position: absolute;
  background-color: #292484;
  background-image: linear-gradient(135deg, #292484, #DC4225);
  opacity: 0.7;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

/* line 116, ../sass/screen.scss */
.img1 img {
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

/* line 121, ../sass/screen.scss */
.img2 {
  height: 220px;
  width: 100%;
  background-color: #002F4B;
  background-image: linear-gradient(135deg, #002F4B, #417711);
}

/* line 128, ../sass/screen.scss */
.img2 img {
  width: 100%;
  opacity: 0.3;
  height: 100%;
}

/* line 133, ../sass/screen.scss */
.img3 {
  background-color: #292484;
  background-image: linear-gradient(135deg, #292484, #A83279);
  width: 100%;
}

/* line 138, ../sass/screen.scss */
.img3 img {
  width: 100%;
  opacity: 0.3;
}

/* line 142, ../sass/screen.scss */
#drawer {
  position: absolute;
  top: 37px;
  padding-top: 50px;
  height: auto;
  width: 180px;
  background: none repeat scroll 0% 0% #2F2F2F;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 34px;
  transition: all 1s ease 0s;
  left: -250px;
  z-index: 2;
}

/* line 157, ../sass/screen.scss */
#drawer ul {
  list-style: outside none none;
  padding: 0px;
}

/* line 162, ../sass/screen.scss */
#drawer li {
  margin: 0px;
  width: 175px;
  padding: 10px 0px;
}

/* line 167, ../sass/screen.scss */
#drawer li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
}

/* line 174, ../sass/screen.scss */
#drawer.drawer_left {
  transition: 1s;
  left: 0px;
}

/* line 179, ../sass/screen.scss */
#drawer li a:hover {
  background-color: grey;
}

/* line 182, ../sass/screen.scss */
#drawer {
  padding-top: 10px;
}

/* line 185, ../sass/screen.scss */
#drawer2 {
  position: absolute;
  height: 30px;
  width: 100%;
  left: 100%;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 1s ease 0s;
  z-index: 2;
}

/* line 196, ../sass/screen.scss */
#drawer2 ul {
  list-style: outside none none;
  padding: 0px;
}

/* line 201, ../sass/screen.scss */
#drawer2 li {
  margin: 0px;
  width: 100%;
  padding: 10px 0px;
}

/* line 206, ../sass/screen.scss */
#drawer2 li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  text-align: center;
}

/* line 213, ../sass/screen.scss */
#drawer2.drawer_right {
  transition: 1s;
  right: 0px;
}
