/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Helvetica, arial, sanserif';
  src: local("Helvetica, arial, sanserif"), local("Helvetica, arial, sanserif");
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/Helvetica/helvetica-neue1.ttf) format("truetype");
}
/* line 31, ../sass/screen.scss */
.header {
  background-color: #FA4B2A;
  height: 60px;
  width: 100%;
  box-shadow: 1px 0px 0px 1px;
}

/* line 37, ../sass/screen.scss */
#hamburger {
  height: 100%;
  width: 9%;
  padding: 3px 4px;
  float: left;
  display: block;
  cursor: pointer;
  /*margin-top:10px;*/
}

/* line 47, ../sass/screen.scss */
#hamburger div {
  background-color: white;
  border-radius: 2px;
  height: 5px;
  margin-top: 5px;
  width: 25px;
}

/* line 54, ../sass/screen.scss */
.header_logo {
  height: 75%;
  width: 184px;
  /* margin-top: 4px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  float: left;
}

/* line 65, ../sass/screen.scss */
.header_logo img {
  height: 100%;
  /* width:100%;*/
  /*margin-top: -22%;*/
}

/* line 70, ../sass/screen.scss */
#header_right {
  height: 50px;
  width: 80px;
  /*float:right;
  display: inline-block;*/
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid white;
  cursor: pointer;
}

/* line 82, ../sass/screen.scss */
.main_head_news {
  display: inline-block;
  display: none;
}

/* line 86, ../sass/screen.scss */
.down_arrow {
  display: none;
  display: inline-block;
}

/* line 91, ../sass/screen.scss */
.line {
  display: inline-block;
  border: 1px solid white;
  height: 100%;
  margin-left: 7%;
}

/* line 99, ../sass/screen.scss */
.strong1 {
  font-size: 2em;
  display: block;
  line-height: 1.15;
  color: white;
  text-align: center;
  font-familt: Halvetica, Arial, sanserif;
}

/* line 107, ../sass/screen.scss */
.strong2 {
  font-size: 0.65em;
  text-align: center;
  color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: right;
  font-familt: Halvetica, Arial, sanserif;
  text-transform: uppercase;
}

/* line 118, ../sass/screen.scss */
.img1 {
  height: 220px;
  width: 100%;
  /*background-color:$violet_blue;*/
 /*background-image:url("https://cdn2.vox-cdn.com/thumbor/G7SPrZTzxFcFoKXxnLcYFNE8ho0=/0x180:3000x1868/680x384/cdn0.vox-cdn.com/uploads/chorus_image/image/48666971/20151010CASF_Water02145_1.0.0.jpg");
*/
  background-image: url("../images/img1.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
}
/* line 130, ../sass/screen.scss */
.img1:after {
  content: '';
  position: absolute;
  background-color: #292484;
  background-image: linear-gradient(135deg, #292484, #DC4225);
  opacity: 0.7;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

/* line 145, ../sass/screen.scss */
.img2 {
  height: 220px;
  width: 100%;
  position: relative;
  /*background-image:url("https://cdn0.vox-cdn.com/thumbor/aFhxzCOj3umiRbxPbcRl382gdvQ=/0x254:3000x1942/340x192/cdn0.vox-cdn.com/uploads/chorus_image/image/48644277/GettyImages-505882626.0.jpg");
  */
  background-image: url("../images/img2.jpg");
  background-position: center;
  background-size: cover;
}
/* line 156, ../sass/screen.scss */
.img2:after {
  content: '';
  opacity: 0.7;
  position: absolute;
  background-color: #002F4B;
  background-image: linear-gradient(135deg, #002F4B, #417711);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 168, ../sass/screen.scss */
.img3 {
  width: 100%;
  height: 220px;
  position: relative;
  /*background-image:url("https://cdn3.vox-cdn.com/thumbor/gkhkL8-wwAxExPEdq6bVFBEhf8s=/0x53:1020x627/340x192/cdn0.vox-cdn.com/uploads/chorus_image/image/48650871/IMG_5826.0.jpg");
  */
  background-image: url("../images/img3.jpg");
  background-position: center;
  background-size: cover;
}
/* line 178, ../sass/screen.scss */
.img3:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #292484;
  background-image: linear-gradient(135deg, #292484, #A83279);
  opacity: 0.7;
}

/* line 190, ../sass/screen.scss */
.img4 {
  width: 75%;
  height: 220px;
  position: relative;
  /*background-image:url("https://cdn2.vox-cdn.com/thumbor/DAE7plskNyZissyOPNvk0-Ijlcg=/213x0:1063x850/350x350/cdn0.vox-cdn.com/uploads/chorus_image/image/48692457/airmail.0.0.jpg");
  */
  background-image: url("../images/img4.jpg");
  background-position: center;
  /*background-size:cover;*/
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  background-size: cover;
}
/* line 206, ../sass/screen.scss */
.img4:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #D38312;
  background-image: linear-gradient(135deg, #D38312, #002F4B);
  opacity: 0.7;
}

/* line 219, ../sass/screen.scss */
.img5 {
  width: 75%;
  height: 220px;
  position: relative;
  background-image: url("https://cdn0.vox-cdn.com/thumbor/ZER7DKNwaQ41K5uqWVHrb6Ven6U=/0x184:3696x2263/376x212/cdn0.vox-cdn.com/uploads/chorus_image/image/48678951/GettyImages-486026810.0.jpg");
  background-position: center;
  /*background-size:cover;*/
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
}
/* line 234, ../sass/screen.scss */
.img5:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #002F4B;
  background-image: linear-gradient(135deg, #002F4B, #417711);
  opacity: 0.7;
}

/* line 247, ../sass/screen.scss */
.img6 {
  width: 75%;
  height: 220px;
  position: relative;
  /*background-image:url("https://cdn2.vox-cdn.com/thumbor/pVKDBuU5Ut6Eu60ze90bWw0xueY=/0x185:1682x746/800x267/cdn0.vox-cdn.com/uploads/chorus_image/image/48682063/armageddon_promotional_still.0.0.jpg");
  */
  background-image: url("../images/img6.jpg");
  background-position: center;
  /*background-size:cover;*/
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
}
/* line 262, ../sass/screen.scss */
.img6:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #D38312;
  background-image: linear-gradient(135deg, #D38312, #417711);
  opacity: 0.7;
}

/* line 275, ../sass/screen.scss */
.img7 {
  width: 75%;
  height: 220px;
  position: relative;
  /*background-image:url("https://cdn0.vox-cdn.com/thumbor/5KoYwb3DZFiSCItSVgnzYhGgfv4=/0x341:2039x1021/800x267/cdn0.vox-cdn.com/uploads/chorus_image/image/48689365/spotify-logo-stock1_2040.0.jpg");
  */
  background-image: url("../images/img7.jpg");
  background-position: center;
  /*background-size:cover;*/
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
}
/* line 291, ../sass/screen.scss */
.img7:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #002F4B;
  background-image: linear-gradient(135deg, #002F4B, #417711);
  opacity: 0.7;
}

/* line 303, ../sass/screen.scss */
.img8 {
  width: 75%;
  height: 220px;
  position: relative;
 /*background-image:url("https://cdn1.vox-cdn.com/thumbor/AT3Vdu0byh94uD4O0FG6ymKw0PE=/0x157:3000x1845/376x212/cdn0.vox-cdn.com/uploads/chorus_image/image/48669739/arcimoto-srk-gen-8-8971.0.0.jpg");
*/
  background-image: url("../images/img8.jpg");
  background-position: center;
  /*background-size:cover;*/
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
}
/* line 319, ../sass/screen.scss */
.img8:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #DC4225;
  background-image: linear-gradient(135deg, #DC4225, #292484);
  opacity: 0.7;
}

/* line 331, ../sass/screen.scss */
.img9 {
  width: 75%;
  height: 220px;
  position: relative;
  /*background-image:url("https://cdn2.vox-cdn.com/thumbor/WZ9A06c4VmGP-uDJqsj2T41viig=/0x0:3000x1688/376x212/cdn0.vox-cdn.com/uploads/chorus_image/image/48652373/StarryStation-Print-05.0.0.jpg");
  */
  background-image: url("../images/img9.jpg");
  background-position: center;
  /*background-size:cover;*/
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
}
/* line 347, ../sass/screen.scss */
.img9:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #002F4B;
  background-image: linear-gradient(135deg, #002F4B, #417711);
  opacity: 0.7;
}

/* line 361, ../sass/screen.scss */
.person_icon {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 1px;
}

/* line 369, ../sass/screen.scss */
#drawer {
  position: absolute;
  top: 37px;
  padding-top: 50px;
  height: auto;
  width: 180px;
  background: none repeat scroll 0% 0% #2F2F2F;
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 34px;
  transition: all 1s ease 0s;
  border-left: 2px solid #A83279;
  left: -250px;
  z-index: 11;
}

/* line 384, ../sass/screen.scss */
#drawer ul {
  list-style: outside none none;
  padding: 0px;
}

/* line 389, ../sass/screen.scss */
#drawer li {
  margin: 0px;
  width: 175px;
  padding: 10px 0px;
}

/* line 394, ../sass/screen.scss */
#drawer li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  text-align: left;
  font-size: 10px;
}

/* line 401, ../sass/screen.scss */
#drawer.drawer_left {
  transition: 1s;
  left: 0px;
}

/* line 406, ../sass/screen.scss */
#drawer li a:hover {
  color: #FA4B2A;
}

/* line 409, ../sass/screen.scss */
#drawer {
  padding-top: 10px;
}

/* line 412, ../sass/screen.scss */
.li_footer {
  background-color: black;
}

/* line 415, ../sass/screen.scss */
#drawer2 {
  position: absolute;
  height: auto;
  width: 75%;
  right: -100%;
  border-left: 1px solid #FA4B2A;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 1s ease 0s;
  z-index: 11;
  color: black;
  background-color: white;
}

/* line 428, ../sass/screen.scss */
#drawer2 ul {
  list-style: outside none none;
  padding-left: 10px;
}

/* line 433, ../sass/screen.scss */
#drawer2 li {
  margin: 0px;
  width: 100%;
  padding: 0px;
}

/* line 438, ../sass/screen.scss */
#drawer2 li a {
  display: block;
  color: black;
  text-decoration: none;
  text-align: left;
}

/* line 446, ../sass/screen.scss */
#drawer2.drawer_right {
  transition: 1s;
  right: 0px;
}

/* line 450, ../sass/screen.scss */
#drawer2 li a:hover {
  color: #FA4B2A;
}

/* line 454, ../sass/screen.scss */
.a1 {
  text-decoration: none;
}

/* line 457, ../sass/screen.scss */
.img_head {
  position: relative;
  padding: 0px;
  margin: 0px;
  font-size: 22px;
  z-index: 10;
  color: white;
  line-height: 1.2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

/* line 471, ../sass/screen.scss */
.img_para {
  position: relative;
  z-index: 10;
  font-size: 12px;
  color: white;
  margin: 5px 0px 0px;
  margin-left: 5%;
  margin-right: 5%;
}

/* line 480, ../sass/screen.scss */
.img_head1 {
  position: relative;
  z-index: 10;
  font-size: 20px;
  color: white;
  line-height: 1.2;
  padding: 0px;
  margin: 0px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  white-space: normal;
}

/* line 494, ../sass/screen.scss */
.img_para1 {
  position: relative;
  z-index: 10;
  font-size: 12px;
  color: white;
  margin: 5px 0px 0px;
  margin-left: 5%;
  margin-right: 5%;
  white-space: normal;
}

/* line 504, ../sass/screen.scss */
.comment_count {
  float: right;
  /*font-size:0.9em;*/
  font-size: 10px;
  display: inline-block;
  text-align: center;
  min-width: 25px;
  position: relative;
  line-height: 0.7;
  /*padding: 0.4rem 0.2rem 0.2rem;*/
  padding: 5px 1px 5px;
  background-color: #4A8813;
  color: white;
}
/* line 517, ../sass/screen.scss */
.comment_count:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  display: block;
  height: 0px;
  width: 0px;
  border-style: solid;
  border-right: 7px solid transparent;
  border-width: 7px 8px 0px 0px;
  border-color: black transparent transparent;
}

/* line 532, ../sass/screen.scss */
.description_list {
  padding: 0px;
  margin: 0px;
}

/* line 538, ../sass/screen.scss */
.recode {
  position: relative;
  height: 35px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 0px;
}

/* line 545, ../sass/screen.scss */
.recode_header {
  width: 100%;
  height: 35px;
}

/* line 549, ../sass/screen.scss */
.recode_header span {
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  font-family: Halvetica, Arial, sanserif;
}

/* line 555, ../sass/screen.scss */
.recode_header div {
  display: inline-block;
  height: 30px;
  width: 90;
}

/* line 561, ../sass/screen.scss */
.recode_header div img {
  height: 100%;
  width: 100%;
}

/* line 565, ../sass/screen.scss */
.description {
  /*border-bottom: 1px solid rgb(221,221,221);*/
  border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  position: relative;
  padding: 3px;
}

/* line 571, ../sass/screen.scss */
.description_img {
  display: table-cell;
  padding-right: 3px;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

/* line 579, ../sass/screen.scss */
.description_img a {
  display: block;
}

/* line 582, ../sass/screen.scss */
.desc_img {
  height: 75px;
  width: 75px;
  box-shadow: inset 0 0 40px rgba(68, 68, 68, 0.77);
}

/* line 587, ../sass/screen.scss */
#desc_img1 {
  /*background-image:url("https://cdn1.vox-cdn.com/thumbor/uZA_ynYL44zXr3Z63fChGEqyY-0=/134x0:667x533/250x250/cdn0.vox-cdn.com/uploads/chorus_image/image/48706617/DSC04604.0.0.0.png");
  */
  background-image: url("../images/desc_img1.png");
  background-position: center;
  background-size: cover;
}

/* line 594, ../sass/screen.scss */
#desc_img2 {
  /* background-image:url("https://cdn0.vox-cdn.com/thumbor/baBl0zmgEUy9eZ5S7zE3vPdP_JA=/112x0:1463x1351/250x250/cdn0.vox-cdn.com/uploads/chorus_image/image/48699775/google-search-results-news-verge-Nick_Statt-01_2.0.0.jpg");
   */
  background-image: url("../images/desc_img2.jpg");
  background-position: center;
  background-size: cover;
}

/* line 601, ../sass/screen.scss */
#desc_img3 {
  /*background-image:url("https://cdn3.vox-cdn.com/thumbor/VYAcNors4fWd7gol7Jj_SZVNO0Q=/217x0:1075x858/250x250/cdn0.vox-cdn.com/uploads/chorus_image/image/48702005/Screen_Shot_2016-02-01_at_5.09.07_PM.0.0.png");
  */
  background-image: url("../images/desc_img3.png");
  background-position: center;
  background-size: cover;
}

/* line 608, ../sass/screen.scss */
#desc_img4 {
  /* background-image:url("https://cdn2.vox-cdn.com/thumbor/AmHOQ0o5khOpdF0qhgZcGNlywEI=/0x0:2197x2197/250x250/cdn0.vox-cdn.com/uploads/chorus_image/image/48700933/GettyImages-487662326.0.jpg");
   */
  background-image: url("../images/desc_img4.jpg");
  background-position: center;
  background-size: cover;
}

/* line 615, ../sass/screen.scss */
#desc_img5 {
  /*background-image:url("https://cdn0.vox-cdn.com/thumbor/dbC7UO0hERLuCUaE6yIoroCNCI4=/341x0:1701x1360/250x250/cdn0.vox-cdn.com/uploads/chorus_image/image/48700415/russell-02.0.jpg");
  */
  background-image: url("../images/desc_img5.jpg");
  background-position: center;
  background-size: cover;
}

/* line 622, ../sass/screen.scss */
.description_content {
  display: table-cell;
  color: #444;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 5px;
}

/* line 629, ../sass/screen.scss */
.description_content h3 {
  font-size: 16px;
  margin: 0px;
  line-height: 1.2;
}

/* line 634, ../sass/screen.scss */
.author strong {
  font-size: 10px;
  font-weight: bold;
}

/* line 638, ../sass/screen.scss */
.author em {
  border-left: 1px solid black;
  font-size: 10px;
  padding-left: 5px;
}

/* line 643, ../sass/screen.scss */
.img_scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 220px;
  position: relative;
  width: 99%;
}

/* line 651, ../sass/screen.scss */
.see_all_news {
  border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  position: relative;
  padding: 50px;
}

/* line 656, ../sass/screen.scss */
.see_all_news a {
  color: #FA4B2A;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* line 662, ../sass/screen.scss */
.see_all_news a:hover {
  text-decoration: underline;
}

/* line 665, ../sass/screen.scss */
.footer_image {
  /*position:absolute;*/
  display: block;
  overflow-x: hidden;
}

/* line 672, ../sass/screen.scss */
.back_to_top {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  background-color: #555;
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  /*display: block;
  position:absolute;
  background-color:#555;
  width: 100%;
  padding:20px;*/
}

/*.back_to_top a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    }*/
/* line 696, ../sass/screen.scss */
#drawer2 h3 {
  font-size: 10px;
  background-color: #FA4B2A;
  color: white;
  padding: 3px 8px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 10px;
}

/* line 705, ../sass/screen.scss */
.side_article span {
  font-size: 10px;
  color: #333;
}

/* line 709, ../sass/screen.scss */
.footer_list {
  background-color: black;
}

/* line 713, ../sass/screen.scss */
.search {
  padding: 20px;
}

/* line 716, ../sass/screen.scss */
.search_input {
  height: 50px;
  border: 1px solid black;
  text-align: center;
}

/* line 721, ../sass/screen.scss */
.first_column {
  width: 45%;
  display: inline-block;
}

/* line 728, ../sass/screen.scss */
.second_column {
  width: 45%;
  display: inline-block;
  float: right;
}

/* line 738, ../sass/screen.scss */
.first_column ul li {
  padding: 5px;
}

/* line 742, ../sass/screen.scss */
.first_column li a {
  text-decoration: none;
  color: #958383;
  font-size: 15px;
  padding-left: 10px;
}

/* line 749, ../sass/screen.scss */
.first_column li a:hover {
  color: white;
}

/* line 755, ../sass/screen.scss */
.second_column ul li {
  padding: 5px;
}
/* line 760, ../sass/screen.scss */
.second_column ul li a {
  text-decoration: none;
  color: #958383;
  font-size: 15px;
  padding-left: 10px;
}

/* line 768, ../sass/screen.scss */
.second_column li a:hover {
  color: white;
}

/* line 772, ../sass/screen.scss */
.footer_links {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  display: block;
}

/* line 781, ../sass/screen.scss */
#icon_styles {
  color: black;
  background-color: white;
  padding: 3%;
  margin-left: 4%;
}

/* line 788, ../sass/screen.scss */
.last_footer {
  width: 100%;
}

/* line 793, ../sass/screen.scss */
.footer_img {
  padding: 5%;
}

/* line 797, ../sass/screen.scss */
.last_footer img {
  height: 100%;
  width: 50%;
  margin-left: 25%;
}

/* line 802, ../sass/screen.scss */
.last_footer p {
  color: white;
  font-size: 12px;
}

/* line 807, ../sass/screen.scss */
.last_footer a {
  text-decoration: none;
  color: #FA4B2A;
}

/* line 812, ../sass/screen.scss */
.last_footer a:hover {
  text-decoration: underline;
}

/* line 815, ../sass/screen.scss */
#drop_arrow_nav_a {
  color: transparent;
}

/* line 818, ../sass/screen.scss */
.third_column a {
  color: transparent;
}

/* line 821, ../sass/screen.scss */
.logo_search {
  display: none;
}

/* line 824, ../sass/screen.scss */
.bottom_left_statement {
  display: none;
}

/* line 827, ../sass/screen.scss */
.bottom_right_logo {
  display: none;
}

/* line 830, ../sass/screen.scss */
.third_column_with_icons {
  display: none;
}

@media only screen and (max-width: 600px) {
  /* line 835, ../sass/screen.scss */
  .description_list2 {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  /* line 842, ../sass/screen.scss */
  .main_head_news {
    display: block;
    /*width: 30%;
    float: left;*/
    margin-left: 315px;
    margin-right: 130px;
    position: relative;
    height: 97%;
    background-color: white;
  }

  /* line 854, ../sass/screen.scss */
  .main_head_news_head {
    color: #FA4B2A;
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
  }

  /* line 863, ../sass/screen.scss */
  .main_news_head {
    color: black;
    font-size: 12px;
    line-height: 0;
    padding-left: 10px;
    line-height: 1.1;
  }

  /* line 870, ../sass/screen.scss */
  .head_news {
    text-decoration: none;
  }

  /* line 875, ../sass/screen.scss */
  .head_news :hover {
    color: #FA4B2A;
  }

  /* line 878, ../sass/screen.scss */
  .down_arrow {
    display: block;
    top: 0;
    right: 80px;
    margin-left: 24px;
    left: 78%;
    position: absolute;
    height: 58px;
    background-color: white;
  }

  /* line 892, ../sass/screen.scss */
  #down_arrow_a:before {
    content: '';
    border-style: solid;
    border-color: black transparent transparent;
    border-width: 5px 5px 0px;
    border-right: 5px solid transparent;
    position: absolute;
    top: 25px;
    left: 50%;
  }

  /* line 905, ../sass/screen.scss */
  #down_arrow_a:hover:before {
    content: '';
    border-color: #FA4B2A transparent transparent;
  }

  /* line 910, ../sass/screen.scss */
  #drop_arrow_nav {
    position: absolute;
    top: -200px;
    /*padding-top: 50px;*/
    /*width: 315px;*/
    right: 130px;
    left: 315px;
    background: none repeat scroll 0% 0% white;
    overflow-x: auto;
    overflow-y: hidden;
    transition: all 0s ease 0s;
    border-top: 2px solid #FA4B2A;
    left: 315px;
    z-index: 14;
  }
  /* line 926, ../sass/screen.scss */
  #drop_arrow_nav ul {
    list-style: outside none none;
    padding: 0px;
  }
  /* line 930, ../sass/screen.scss */
  #drop_arrow_nav li {
    margin: 0px;
    padding: 0px 0px;
    height: 10%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  }
  /* line 937, ../sass/screen.scss */
  #drop_arrow_nav #drop_arrow_nav_a {
    display: block;
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding-left: 10px;
  }
  /* line 945, ../sass/screen.scss */
  #drop_arrow_nav #drop_arrow_nav_a:hover {
    color: #FA4B2A;
  }

  /* line 953, ../sass/screen.scss */
  #drop_arrow_nav.drawer_down {
    transition: 0s;
    top: 61px;
  }

  /* line 957, ../sass/screen.scss */
  .imgs1 {
    width: 50%;
    height: 440px;
    z-index: 13;
    margin-left: -10.2%;
    display: inline-block;
  }

  /* line 965, ../sass/screen.scss */
  .imgs2 {
    width: 50%;
    float: right;
    height: 220px;
    display: inline-block;
  }

  /* line 972, ../sass/screen.scss */
  .imgs3 {
    height: 220px;
    width: 50%;
    display: inline-block;
    float: right;
    position: absolute;
    margin-bottom: 0%;
    top: 280px;
    right: 0px;
  }

  /* line 982, ../sass/screen.scss */
  .imgs_scroll {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 992, ../sass/screen.scss */
  .description {
    display: none;
  }

  /* line 995, ../sass/screen.scss */
  .recode {
    display: none;
  }

  /* line 998, ../sass/screen.scss */
  .description_list2 {
    position: relative;
    width: 100%;
    padding-bottom: 350px;
  }

  /* line 1003, ../sass/screen.scss */
  .description_list2_left {
    width: 50%;
    border-right: 1px solid grey;
    position: absolute;
    left: 0;
    /*float: left;
    display: block;
    width: 50%;
    height: 10px;
    border-right: 1px solid grey;*/
    /* &:before{
         content: '';
         position:absolute;
         top: 0;
         bottom:0;
         left: 50%;
         right: auto;
         border-left: 1px solid #DDD;
     }*/
  }
  /* line 1023, ../sass/screen.scss */
  .description_list2_left .description_list2_left_h3 {
    padding-left: 10px;
    color: black;
    font-size: 28px;
    padding-bottom: 20px;
  }
  /* line 1028, ../sass/screen.scss */
  .description_list2_left .description_list2_left_h3 .description_list2_left_a {
    color: black;
    text-decoration: none;
  }
  /* line 1032, ../sass/screen.scss */
  .description_list2_left .description_list2_left_h3 .description_list2_left_a:hover {
    color: #FA4B2A;
    text-decoration: underline;
  }

  /* line 1040, ../sass/screen.scss */
  .description_list2_right {
    position: absolute;
    width: 50%;
    left: 50%;
    /*float: left;
    display: block;
    width: 50%;
    height: 10px;*/
  }
  /* line 1049, ../sass/screen.scss */
  .description_list2_right .description_list2_right_h3 {
    padding-left: 10px;
    color: black;
    font-size: 28px;
    padding-bottom: 20px;
  }
  /* line 1054, ../sass/screen.scss */
  .description_list2_right .description_list2_right_h3 .description_list2_right_a {
    color: black;
    text-decoration: none;
  }
  /* line 1058, ../sass/screen.scss */
  .description_list2_right .description_list2_right_h3 .description_list2_right_a:hover {
    color: #FA4B2A;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 500px) {
  /* line 1068, ../sass/screen.scss */
  .footer_links {
    display: none;
  }

  /* line 1071, ../sass/screen.scss */
  .first_column {
    display: none;
  }

  /* line 1075, ../sass/screen.scss */
  .second_column {
    display: none;
  }

  /* line 1078, ../sass/screen.scss */
  .third_column {
    display: none;
  }

  /* line 1083, ../sass/screen.scss */
  .first_column2 {
    width: 30%;
    float: left;
    display: inline-block;
  }

  /* line 1089, ../sass/screen.scss */
  .second_column2 {
    width: 30%;
    display: inline-block;
    float: left;
  }

  /* line 1096, ../sass/screen.scss */
  .third_column2 {
    width: 30%;
    display: inline-block;
    float: left;
  }

  /* line 1101, ../sass/screen.scss */
  .third_column2 ul li {
    padding: 5px;
  }

  /* line 1105, ../sass/screen.scss */
  .third_column2 li a {
    text-decoration: none;
    color: #958383;
    font-size: 15px;
    padding-left: 10px;
  }

  /* line 1112, ../sass/screen.scss */
  .third_column2 li a:hover {
    color: white;
  }
}
@media only screen and (min-width: 600px) {
  /* line 1117, ../sass/screen.scss */
  .first_column2 {
    display: none;
  }

  /* line 1120, ../sass/screen.scss */
  .second_column2 {
    display: none;
  }

  /* line 1123, ../sass/screen.scss */
  .third_column2 {
    display: none;
  }

  /* line 1126, ../sass/screen.scss */
  .back_to_top {
    display: none;
  }

  /* line 1129, ../sass/screen.scss */
  .search {
    display: none;
  }

  /* line 1141, ../sass/screen.scss */
  .logo_search1 {
    width: 30%;
    display: inline-block;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
  }

  /* line 1148, ../sass/screen.scss */
  .logo_search1 img {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* line 1154, ../sass/screen.scss */
  .search_input1 {
    border: 1px solid black;
    width: 150px;
    height: 50px;
  }

  /* line 1160, ../sass/screen.scss */
  .footer_list1 {
    background-color: black;
    height: 430px;
  }

  /* line 1166, ../sass/screen.scss */
  .first_column3 {
    width: 20%;
    display: inline-block;
    float: left;
  }

  /* line 1171, ../sass/screen.scss */
  .second_column3 {
    width: 20%;
    display: inline-block;
    float: left;
  }

  /* line 1176, ../sass/screen.scss */
  .third_column3 {
    width: 20%;
    display: inline-block;
    float: left;
  }

  /* line 1181, ../sass/screen.scss */
  .footer_img {
    display: none;
  }

  /* line 1184, ../sass/screen.scss */
  .bottom_left_statement {
    display: inline-block;
    float: left;
    width: 50%;
  }
  /* line 1188, ../sass/screen.scss */
  .bottom_left_statement a {
    color: #FA4B2A;
    text-decoration: none;
    font-size: 12px;
  }
  /* line 1193, ../sass/screen.scss */
  .bottom_left_statement a:hover {
    text-decoration: underline;
  }

  /* line 1197, ../sass/screen.scss */
  .bottom_left_statement p {
    color: white;
    font-size: 12px;
    margin-bottom: -22px;
  }

  /* line 1202, ../sass/screen.scss */
  .bottom_right_logo {
    display: inline-block;
    float: right;
    width: 50%;
  }
  /* line 1206, ../sass/screen.scss */
  .bottom_right_logo img {
    height: 35px;
    width: 170px;
    margin-top: 15px;
    margin-left: 120px;
  }
  /* line 1212, ../sass/screen.scss */
  .bottom_right_logo p {
    color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: -23px;
    margin-left: 65px;
  }
  /* line 1219, ../sass/screen.scss */
  .bottom_right_logo a {
    color: #FA4B2A;
    text-decoration: none;
    font-size: 12px;
    padding-left: 110px;
  }
  /* line 1225, ../sass/screen.scss */
  .bottom_right_logo a:hover {
    text-decoration: underline;
  }
  /* line 1228, ../sass/screen.scss */
  .bottom_right_logo h3 {
    color: white;
    padding-left: 170px;
    margin-top: -30px;
    font-size: 12px;
  }

  /* line 1236, ../sass/screen.scss */
  .list_head {
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  /* line 1242, ../sass/screen.scss */
  .list_head em {
    color: #FA4B2A;
    font-style: italic;
  }
}
@media only screen and (min-width: 800px) {
  /* line 1251, ../sass/screen.scss */
  .third_column3 {
    display: none;
  }

  /* line 1254, ../sass/screen.scss */
  .third_column_with_icons1 {
    width: 20%;
    display: inline-block;
    float: left;
  }
  /* line 1258, ../sass/screen.scss */
  .third_column_with_icons1 ul li {
    padding: 5px;
  }
  /* line 1260, ../sass/screen.scss */
  .third_column_with_icons1 ul li a {
    text-decoration: none;
    color: #958383;
    font-size: 15px;
    padding-left: 10px;
  }
  /* line 1267, ../sass/screen.scss */
  .third_column_with_icons1 ul li a:hover {
    color: white;
  }
}
 /*.third_column2{
            width: 30%;
            display: inline-block;
            float: left;
        }
        .third_column2 ul li{
    padding:5px;

}
.third_column2 li a{
    text-decoration: none;
    color: #958383;
    font-size: 15px;
    padding-left: 10px;

}
.third_column2 li a:hover{
    color: white;
}
  */
